.footer_details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1e1e26;;
    color: white;
    border-radius: 20px 20px 0 0;
}
.col_detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3.5rem;
    gap: 100px;
    /* text-align: center; */
}
.heading{
    font-size: 22px;
    font-weight: 700;
}
.para{
    padding: .9em 0;
    font-size: 16px;
    opacity: 0.9;
}
.footer_terms{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  background-color: #33006F;
    padding: 10px 80px;
}
.term{
    display: flex;
    justify-content: flex-end;
}
.term_li{
    margin: 0 10px;
}

@media only screen and (max-width: 768px) {
    .footer_details{
        display: none;
    }
}

@media only screen and (max-width: 490px) {
    .col_detail{
        text-align: center;
    }
}